<div class='dog-header col-xs-12 col-xs-offset-0 col-md-10 col-md-offset-1 '>
  <h1>Colorado Code Dogs</h1>
</div>


<div class='dog-column col-xs-12 col-md-6 '>
    <h2>Bouncer</h2>
    <h3>Pembroke Welsh Corgi</h3>
    <h4>6 years old</h4>
  <h4>Nickname: Wicked Bad Corgi</h4>
  <div class='photo-container col-xs-12'>
    <img src='' class='img-responsive' alt='Responsive image' style="width:260px">
  </div>   <!-- photo-container -->
  <p>This is Bouncer's story</p>


</div>


<div class='dog-column col-xs-12 col-md-6 '>
  <h2>Cade</h2>
  <h3>Nova Scotia Duck Tolling Retriever</h3>
  <h4>7 Months Old</h4>
  <h4>Nickname: Crack Puppy Cade</h4>
  <div class='photo-container col-xs-12'>
    <img src='' class='img-responsive' alt='Responsive image' style="width:260px">
  </div>   <!-- photo-container -->
  <p>This is Cade's story</p>


</div>



