<div class='dog-header col-xs-12 col-xs-offset-0 col-md-10 col-md-offset-1 '>
  <h1>Colorado Code Dogs</h1>
</div>
<div class='clear'></div>


<div class='dog-column col-xs-12 col-md-6 '>
    <h2>Bouncer</h2>
    <h4>AKA The Wicked Bad Corgi</h4>
    <h3>Pembroke Welsh Corgi</h3>
    <h4>6 years old</h4>
   
  <div class='dog-photos col-xs-12'>
    <div class='col-sm-6 col-md-6'>
      <a class='thumbnail' href='#'>
        <img src='/assets/carson_bouncer_edit.jpg' class='img-responsive' alt='Responsive image' style='width: 300px'>
        <div class='dog-caption'>Bouncer and Carson - His Golden</div>
      </a>
    </div>
    <div class='col-sm-6 col-md-6'>
      <a class='thumbnail' href='#'>
        <img src='/assets/bouncer_baby_edit.jpg' class='img-responsive' alt='Responsive image' style='width: 300px'>
        <div class='dog-caption'>Baby Bouncer - Ears Are Up</div>
      </a>
    </div>
    <div class='clear'></div>
    <div class='col-sm-6 col-md-6'>
      <a class='thumbnail' href='#'>
        <img src='/assets/bouncer_smelling_flowers.jpg' class='img-responsive' alt='Responsive image' style='width: 300px'>
        <div class='dog-caption'>Smelling the Maryland Flowers 2014</div>
      </a>
    </div>
    <div class='col-sm-6 col-md-6'>
      <a class='thumbnail' href='#'>
        <img src='/assets/bouncer_CO_sleeping.jpg' class='img-responsive' alt='Responsive image' style='width: 300px'>
        <div class='dog-caption'>Sleepy Colorado Day</div>
      </a>
    </div>
  </div>   <!-- dog-photos -->
  <div class='clear'></div>
  <div class='dog-story col-xs-12'>
    <p><u>Bouncer's Story</u><br />
    He was raised by a Golden Retreiver named Carson, so he thinks that playing fetch is the best game ever.
    He grew up in Albuquerque, NM where he loved to go to Agility Class. In Southern Maryland, he enjoyed
    walking the trails on NAS Patuxent River. Now he is a Colorado Code Dog and spends his
    winters making snow tunnels. He starts Agility (again) in the New Year.
    </p>
  </div>
</div>


<div class='dog-column col-xs-12 col-md-6 '>
  <h2>Cade</h2>
  <h4>AKA Crack Puppy Cade
  <h3>Nova Scotia Duck Tolling Retriever</h3>
  <h4>7 Months Old</h4>
  <div class='dog-photos col-xs-12'>
    <div class='col-sm-6 col-md-6'>
      <a class='thumbnail' href='#'>
        <img src='/assets/cade_puppy.jpg' class='img-responsive' alt='Responsive image' style='width: 300px'>
        <div class='dog-caption'>A precious and adorable puppy</div>
      </a>
    </div>
    <div class='col-sm-6 col-md-6'>
      <a class='thumbnail' href='#'>
        <img src='/assets/cade_4months_paperTowels.jpg' class='img-responsive' alt='Responsive image' style='width: 300px'>
        <div class='dog-caption'>Crack Puppy in the making</div>
      </a>
    </div>
    <div class='clear'></div>
    <div class='col-sm-6 col-md-6'>
      <a class='thumbnail' href='#'>
        <img src='/assets/cade_5Months.jpg' class='img-responsive' alt='Responsive image' style='width: 300px'>
        <div class='dog-caption'>Innocence: Don't let it fool you</div>
      </a>
    </div>
    <div class='col-sm-6 col-md-6'>
      <a class='thumbnail' href='#'>
        <img src='/assets/crack_puppy_edit.jpg' class='img-responsive' alt='Responsive image' style='width: 300px'>
        <div class='dog-caption'>Full On Crack Puppy</div>
      </a>
    </div>
  </div>   <!-- dog-photos -->
  <div class='clear'></div>
  <div class='dog-story col-xs-12'>
    <p><u>Cade's Story</u><br />
    Cade is an energetic and curious Toller Puppy who is into everything and goes crazy around 7 PM. That is how
    he earned his nickname. He isn't a very playful dog and doesn't retrieve. BUT he loves to learn new things and
    works hard at figuring out the right answer. He finished Family Dog I and is currently in a Tracking and Nosework class.
    He starts Agility in the New Year with Bouncer.
    </p>
  </div>
</div>


</div>



